#appborder {
    border: 6px outset #5e548e;
    border-radius: 6px;
    width: 75%;
    background-image: linear-gradient(45deg, #231942, #5e548e, #9f86c0, #be95c4, #e0b1cb);
}
#gameborder {
    border: 6px outset #b5838d;
    border-radius: 6px;
    width: 75%;
    background-image: linear-gradient(45deg, #ffcdb2, #ffb4a2, #e5989b, #b5838d, #6d6875);
}
#chatbotborder {
    border: 6px outset #b392ac;
    border-radius: 6px;
    width: 75%;
    background-image: linear-gradient(45deg, #f7d1cd, #e8c2ca, #d1b3c4, #b392ac, #735d78);
}